footer {
  position: relative;
  height: 10vh;
  width: 100%;

  // padding: 0 5rem;

  z-index: 1;
  background: $secondary-color;
  .container {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;

    h2 {
      font-size: 3rem;
      // margin-right: auto;
    }
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      li {
        margin-left: 5rem;
        cursor: pointer;
        a {
          width: 100%;
          font-size: 3rem;
          transition: all 0.5s ease;
          &:hover {
            color: $primary-color;
          }
        }
      }
    }
  }
}
