@media (max-width: 1200px) {
  html {
    font-size: 50%;
  }
  .showcase img {
    height: 150%;
  }
  .soon .content {
    img {
      width: 600px;
    }
    .circle {
      width: 450px;
      height: 450px;
    }
  }
}
@media (max-width: 800px) {
  html {
    font-size: 40%;
  }
  .showcase {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    h1 {
      align-self: center;
      margin-left: 0;
      margin-bottom: -40px;
      width: 100%;
      transform: translate(0, 0) !important;
    }
    img {
      // transform: scale();
      height: 70%;
    }
    .info {
      // margin-top: 1rem;
      margin-left: 0;
    }
  }
  .features {
    .content {
      height: 100%;
      h1 {
        text-align: center;
      }
      .cards {
        padding: 0 12px;
        //   display: block;
        flex-wrap: wrap;
        //   flex-direction: column;
        justify-content: center;
        height: 80%;
        margin-top: 2rem;
        .card {
          height: 30%;
          overflow: hidden;
          img {
            //   width: auto;
            height: 50%;
          }
          .text {
            height: 48%;
            h3 {
              margin-bottom: 0.5rem;
            }
          }
        }
      }
    }
  }
  .soon .content {
    img {
      width: 500px;
    }
    img,
    .circle {
      top: 60%;
    }
    .circle {
      width: 320px;
      height: 320px;
    }
    h1 {
      position: relative;
      top: 10%;
      left: auto;
      width: auto;
      text-align: center;
    }
  }
}

@media (max-width: 600px) {
  .soon .content {
    img {
      width: 150%;
      // top: 60%;
    }
  }
  .navbar a {
    font-size: 2.5rem !important;
  }
  .pages .slide svg {
    width: 8px;
    height: 8px;
  }
}
