.navbar {
  position: sticky;
  top: 0;
  background: $secondary-color;
  height: 10vh;
  z-index: 10;
  border-bottom: 1px solid $primary-color;
  // padding: 0 5rem;
  nav {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    #logo {
      width: 60px;
      height: 60px;
      // margin-right: auto;
    }
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      li {
        margin-left: 5rem;
        cursor: pointer;
        a {
          width: 100%;
          font-size: 1.8rem;
          transition: all 0.5s ease;
          &:hover {
            color: $primary-color;
          }
        }
        &.order {
          background: $primary-color;
          border-radius: 10px;
          padding: 0.5rem 2rem;
          :hover {
            color: inherit;
          }
        }
      }
    }
  }
}
