@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap");

$primary-color: #f35a76;
$secondary-color: #201f1f;
$text-color: #ffffff;

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: "Montserrat", sans-serif;
  background: $secondary-color;
  color: $text-color;
  line-height: 1.6;
  height: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-weight: 500;
}

h1 {
  font-size: 6rem;
  font-family: "Ubuntu", sans-serif;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 2rem;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}
